#body {
  width: 100%;
  height: 1000px;
  /* height: 100%; */
  margin: 0;
  background-image: url(../images/abstract-mosaic-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "jaf-facitweb","Helvetica Neue",Arial,sans-serif;
}

#taskbar {
  height:40px;
  width: 100%;
  background-color: #026AA7;
}

#leftTaskBar {
  position: relative;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}

#board-btn {
  height: 30px;
  width: 90px;
  margin: 4px;
  padding: 1px;
  background-color: #3a8db7;
  color: #ffffff;
  font-size:14px;
  font-weight: bold;
  border: 1px none #3a8db7;
  cursor: hand;
  border-radius: 4px; 
}

#board-btn img{
  float:left;
  margin-left: 4px;
}

#board-btn-content {
  display: none;
  position: absolute;
  top:40px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#board-btn-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size:18px;
  color: #4d4d4d;
}

#board-btn-content a:hover {
  background-color: #e2e4e6;
}

#rightTaskBarList {
  margin: 0;
  padding: 0;
}

#rightTaskBarList ul {
  list-style-type: none;
}

#rightTaskBarList li {
  float:right;
}

#rightTaskBarList button { 
  height: 30px;
  width: 30px;
  margin: 4px;
  padding: 1px;
  background-color: #3a8db7;
  color: #ffffff;
  font-size:14px;
  font-weight: bold;
  border: 1px none #3a8db7;
  cursor: hand;
  border-radius: 4px;                
}

#firstButton {
  background-color: #d6dadc !important;   
  color: #4d4d4d !important;
}

button img{
  height:20px;
  width:20px;
}

#board-header {
  margin: 25px;
  display:inline;
}

#boardName {
  margin: 15px; 
  font-size:18px;
  font-weight: bold;
  color: #ffffff;
  float: left;
}

#show-menu-btn {
  margin:15px 5px;
  height: 35px;
  width: 120px;
  background-color: #ffffff;
  color: #4d4d4d;
  font-size: 14px;
  font-weight: bold;
  float: right;
  display:inline;
  border: 1px none #8c8c8c;
  border-radius: 4px;
  box-shadow: 0 1px #cccccc;
  cursor: hand;
}

#show-menu-btn:hover {
  border-radius: 4px;                
  color: #ffffff;
  background-color: #2591c5;
  box-shadow: 0 1px #006ca2;
}

.sidenav {
  float:right;
  height: 500px;
  width: 0;
  position:relative;
  z-index: 1;
  left: 130px;
  background-color: #edeff0;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  clear:both;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #444444;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #111111;
  background-color: #d6dadc;
}

.close-btn {
  padding:10px 15px !important;
  float: right;
}

#Listdiv {
  position: absolute;
  top: 80px;
  left: 25px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

#Listdiv ul {
  padding: 0;
}

#Listdiv li {
  display: inline;
  height: 500px;
  width: 270px;
  background-color: #E2E4E6;
  margin-right: 10px;
  display: inline-block;
  border-radius: 4px;
  float: left;
  color: #4d4d4d;
}

#Listdiv li li{
  margin: 5px 9px;
  background-color: #ffffff;
  height: 80px;
  width: 240px;
  font-size:14px;
  box-shadow: 0 1px #cccccc;
  padding: 5px;
}

.ListHeader p {
  float:left;
  margin: 10px;
  color: #4d4d4d;
  font-size:14px;
  font-weight: bold;
}

.ListHeader button {
  float:right;
  margin: 5px 10px 5px 5px;
}

.xbtn {
  height: 30px;
  width: 30px;
  border-radius: 4px;
  border-style: none;
  font-size:20px;
  padding-bottom: 5px;
  color: #4d4d4d;
  background-color: #ffffff;
  cursor:hand;
}

.xbtn:hover {
  color: #ffffff;
  background-color: #2591c5;
  box-shadow: 0 1px #006ca2;           
}

.cardBtn {
  border: none;
  height: 80px;
  width: 240px;
  background-color: #ffffff;
  font-size:14px;
  margin: 0 !important;
}

.cardBtn p {
  color: #4d4d4d;
  overflow: scroll;
  word-wrap: break-word;
}

.carddropdown {
  position: relative;
  display: block;
}

.addNewCardbtn {
  display:block;
  float:left;
  background-color: #e2e4e6;
  width: 100px;
  height: 40px;
  margin: 10px 6px;
  color: #8c8c8c;
  font-size:14px;
  border: 1px none #3a8db7;
  cursor: hand;
  border-radius: 4px; 
}

.addNewCardbtn:hover{
  background-color: #cdd2d4;
  text-decoration: underline;
  color: #4d4d4d;
}

.carddropdown-content {
  position: relative;
  background-color: #f9f9f9;
  width: 270px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}

.carddropdown-content input[type=text] {
  height: 40px;
  width: 250px;
  padding: 5px;
  margin:5px;
  background-color: #fafec5;
  border-radius: 4px;
  border: 1px solid #4D4D4D;
  font-size: 15px;
}

.submit-btn {
  height: 35px;
  width: 120px;
  margin:5px;
  background-color: #5cb85d;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  float:right;
  display:inline;
  border: 1px none #8c8c8c;
  border-radius: 4px;
  box-shadow: 0 1px #437535;
  cursor: hand;               
}

.submit-btn:hover {
  border-radius: 4px;                
  color: #ffffff;
  background-color: #539f4e;
  box-shadow: 0 1px #006ca2;
}

#description {
  color: #4d4d4d;
  margin-bottom: 20px;
}
.addComment {
  margin-bottom: 20px;
}
.addComment input {
  margin-top: 5px;
}
.addComment input[type=text] {
  height: 50px;
  width: 400px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px #cccccc;
  font-size: 15px;
}
.addComment button {
  display:block;
  background-color: #e2e4e6;
  width: 80px;
  height: 40px;
  margin: 10px 0;
  color: #8c8c8c;
}

#comments {
  margin:8px;
}

#comments p{
  margin: 2px;
  color: #4d4d4d;
  font-size: 16px;
  background-color: #ffffff;
  display: block;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0 1px #cccccc;
  font-weight: bold;
}

.activity {
  margin-bottom: 20px;
}
#labels {
  margin-bottom: 20px;
}
.users {
  margin-bottom: 20px;
}
#add-comment-button {
  display:block;
  background-color: #e2e4e6;
  width: 80px;
  height: 40px;
  margin: 10px 0;
  color: #8c8c8c;
  font-size:14px;
  border: 1px none #3a8db7;
  cursor: hand;
  border-radius: 4px;
  box-shadow: 0 1px #cccccc;
}    
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #edeff0;
  margin: auto;
  padding: 15px;
  border: 1px solid #888;
  height: 550px;
  width: 650px;
  border-radius: 4px;
}

.modal-content h3 {
  font-weight: bold;
  color: #4d4d4d;
  margin:0;
  padding:0;
}

.modal-content h4 {
  font-weight: bold;
  color: #4d4d4d;
  margin:0;
  padding:0;
}

.modal-label-color {
  width: 50px;
  height: 20px; 
  border-radius: 4px;
  display: inline-block;
  margin: 5px;
}

.close {
  margin: 0;
  float: right;
  font-weight: bold;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  color: #4d4d4d;
  border: 1px none #8c8c8c;
  border-radius: 4px;
  box-shadow: 0 1px #cccccc;
  border-style: none;
  font-size:20px;
  padding-bottom: 5px;
  cursor:hand;
}
.close:hover,
.close:focus {
  color: #ffffff;
  background-color: #2591c5;
  box-shadow: 0 1px #006ca2;
}

#addNewListBtn {
  margin: 15px 5px;
  height: 35px;
  width: 120px;
  background-color: #ffffff;
  color: #4d4d4d;
  font-size: 14px;
  font-weight: bold;
  float:right;
  border: 1px none #8c8c8c;
  border-radius: 4px;
  box-shadow: 0 1px #cccccc;
  cursor: hand;    
}
#addNewListBtn:hover {
  border-radius: 4px;                
  color: #ffffff;
  background-color: #2591c5;
  box-shadow: 0 1px #006ca2;              
}
.card-left-side {
  float: left;
}
.card-right-side {
  float: right;
}

#card-name p {
  margin-top: 0;
}

#delete-card-btn {
  display: block;
  position: relative;
  top: 40px;
  background-color: #ffffff;
  width: 100px;
  height: 35px;
  margin: 10px 0;
  color: #4d4d4d;
  font-size:14px;
  font-weight: bold;
  border: 1px none #8c8c8c;
  cursor: hand;
  border-radius: 4px;
  box-shadow: 0 1px #cccccc;
}

#delete-card-btn:hover {
  color: #ffffff;
  background-color: #2591c5;
  box-shadow: 0 1px #006ca2;
}

#label-btn {
  display: block;
  position: relative;
  top: 40px;
  background-color: #ffffff;
  width: 100px;
  height: 35px;
  margin: 10px 0;
  color: #4d4d4d;
  font-size:14px;
  font-weight: bold;
  border: 1px none #8c8c8c;
  cursor: hand;
  border-radius: 4px;
  box-shadow: 0 1px #cccccc;
}
#label-btn:hover {
  color: #ffffff;
  background-color: #2591c5;
  box-shadow: 0 1px #006ca2;
}
.label-dropdown-content {
  position: relative;
  top:30px;
  width: 100px;  
  height: 200px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}
.label-dropdown-content button {
  width: 90px;
  height: 30px;
  margin:3px 5px;
  display: block;
  border: 1px none #8c8c8c;
  cursor: hand;
  border-radius: 4px;
}
#green {
  background-color:#5ebc60;
}
#yellow {
  background-color:#f2d44b;
}
#orange {
  background-color:#ffa95d;
}
#red {
  background-color:#ec594d;
}
#purple {
  background-color:#c47ad9;
}
#blue {
  background-color:#007bb9;
}

#pos-list-dropdown {
  position: relative;
  float: right;
  display: inline-block;
}

.list-dropdown-content {
  position: absolute;
  top: 50px;
  right: 5px;
  background-color: #f9f9f9;
  width: auto;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;     
}

.list-dropdown-content input[type=text] {
  height: 40px;
  width: 240px;
  padding: 5px;
  margin: 5px;
  background-color: #fafec5;
  border-radius: 4px;
  border: 1px solid #4D4D4D;
  font-size: 15px;
}

#list-submit-btn-form input[type=submit] {
  height: 35px;
  width: 120px;
  margin:5px;
  background-color: #5cb85d;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  float:right;
  display:inline;
  border: 1px none #437535;
  border-radius: 4px;
  box-shadow: 0 1px #437535;
  cursor: hand;                
}

#list-submit-btn-form input[type=submit]:hover {
  border-radius: 4px;                
  color: #ffffff;
  background-color: #539f4e;
  box-shadow: 0 1px #006ca2;
}

.inner-list {
  clear:both;
  white-space: nowrap;
}

#logout-btn {
  width:100px !important;
}
#logout-btn p {
  margin: 0px;
  color: #ffffff;
}

#author {
  color: #4d4d4d;
  margin:3px;
  font-size: 16px;
  background-color: #ffffff;
  display:inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0 1px #cccccc;
  font-weight: bold;
}

#author-div h3 {
  display: inline;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#table-header {
  color: #4d4d4d;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.mini-label-color {
  width: 25px;
  height: 10px;
  border-radius: 4px;
  display: inline-block;
  margin: 2px;
}

#add-user-div {
  padding: 5px;
  display: none;
}

#add-user-form {
  margin: 0px;
}

#user-submit-btn {
  display: block;
  margin-top: 5px;
  height: 25px;
  width: 100px;
  background-color: #5cb85d;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  display:inline;
  border: 1px none #437535;
  border-radius: 4px;
  box-shadow: 0 1px #437535;
  cursor: hand;   
}

#user-submit-btn:hover {
  border-radius: 4px;                
  color: #ffffff;
  background-color: #539f4e;
}

#newUserInput {
  height: 40px;
  width: 240px;
  padding: 3px;
  background-color: #fafec5;
  border-radius: 4px;
  border: 1px solid #4D4D4D;
  font-size: 14px;
}