body {
  background-color: #ffffff;
}

h1 {
  font-size: 36px;
  color:#4D4D4D;
  font-family: "jaf-facitweb","Helvetica Neue",Arial,sans-serif;
}

p {
  font-size: 20px;
  color:#4D4D4D;
  font-family: "jaf-facitweb","Helvetica Neue",Arial,sans-serif;
}

label {
  display: block;
  margin: 20px 0px 20px 0px;
  font-size: 20px;
  color:#4D4D4D;
  font-family: "jaf-facitweb","Helvetica Neue",Arial,sans-serif;
}

input[type=text], input[type=email], input[type=password] {
  display: block;
  margin: 20px 0px 20px 0px;
  height: 50px;
  width: 400px;
  padding: 10px;
  background-color: #fafec5;
  border-radius: 5px;
  border: 1px solid #4D4D4D;
  font-size: 20px;
}

input[type=submit] {
  display: block;
  margin: 15px 0;
  width:100px;
  height:50px;
  background-color: #5cb75d;
  color: white;
  font-size:20px;
  font-family: "jaf-facitweb","Helvetica Neue",Arial,sans-serif;
  border-radius: 5px;
  border: 1px none #4D4D4D;
  box-shadow: 0 3px #3e6e2f;
  cursor: hand;
}

input[type=submit]:hover {
  background-color: #56a652;
  cursor: pointer;
}

#register-btn {
  width: 200px;
}

a {
  color: blue;
}

#forgotpass p{
  display: inline;
  margin-left: 15px;
}

#createAccount {
  margin: 10px;
  position: relative;
  float:left;
}

#login {
  margin: 10px;
  position: relative;
  float:right;
}

#reg-login-wrapper {
  display: inline-block;
  margin: 20px;
  width: 900px;
  position: relative;
  top: 10%;
  left: 15%;
}